<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1612387290123-34af734b5f61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=686&q=80); background-size: cover; background-position: center;">
</div>

<div class="container">
  <h1 style="text-align: center;"><%= @garden.name %></h1>
  <% @garden.plants.each do |plant| %>
    <div class="card-category mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant&.photo %>)">
      <%= plant.name %><%= link_to 'X', garden_plant_path(@garden, plant), method: :delete %>
      <% plant.tags.each do |tag|%>
        <div class="card-tags">
          <span><%= tag.name %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= simple_form_for([@garden ,@plant]) do |f| %>
    <%= f.input :name, html: { autocomplete: 'off' }%>
    <div style='display: flex; justify-content: center;'>
      <%= f.submit 'add plant', class: "btn btn-success" %>
    </div>
  <% end %>
</div>


